a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: white;
}
body {
  text-decoration: none;
  /* margin: 0 45px; */
}
li {
  list-style-type: none;
}
.logo {
  width: 70px;
  height: 70px;
}
.header_list {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-text-box{
    background-color: rgb(236, 235, 232);
    -webkit-box-shadow: 5px 5px 15px 5px #A3A3A3; 
box-shadow: 5px 5px 15px 5px #A3A3A3;
border: 1px solid none;
border-radius: 10px;
margin-bottom: 10px;
}
.main-text{
    color: #575555;
    padding: 15px;
   
}
.answer_btn{
margin: 0 55px 10px 0;

}
.strong-st{
  background-color: #0388fc;
}  
.list{
  text-align: left;
  color: white;
  font-weight: 400;
}